* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 15px;
  
  font-family: "Lexend Deca", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 32px;
    background-color: var(--very-light-gray);
}

.div-styling {
    padding: 32px;
    color: var(--very-light-gray);
    max-width: 375px;
}
.main__div1 {
background-color: var(--bright-orange);
border-radius: 8px 8px 0 0;
}

.main__div2{
    background-color: var(--dark-cyan);
}

.main__div3{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 8px 8px;
}

.margin {
    margin-bottom: 16px;
}

p {
    color: var(--transparent-white);
    line-height: 1.6;
    width: 220px;
    font-size: 14px;
}

h2{
    text-transform: uppercase;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
}

.link {
    background-color: var(--very-light-gray);
    border-radius: 16px;
    padding: 8px 24px;
    text-decoration: none;
    margin-top: 16px;
    display: inline-block;
    font-weight: 400;
}  

.div1__link {
    color: var(--bright-orange);
}
.div2__link{
    color: var(--dark-cyan);
}
.div3__link{
    color: var(--very-dark-cyan);
}

